---
import Layout from "@layouts/Default.astro"
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro"
import MobileSocials from "@components/home/MobileSocials.astro"
import { Pill } from "@eliancodes/brutal-ui"
import { Button } from "@eliancodes/brutal-ui"
import { Card } from "@eliancodes/brutal-ui"

const builtWith = [
  { name: "Astro", url: "https://astro.build/" },
  { name: "UnoCSS", url: "https://uno.antfu.me/" },
  {
    name: "Content Collections",
    url: "https://docs.astro.build/en/guides/content-collections/",
  },
  { name: "RSS", url: "https://docs.astro.build/en/guides/rss/" },
  {
    name: "Sitemap",
    url: "https://docs.astro.build/en/guides/integrations-guide/sitemap/",
  },
  { name: "Vercel", url: "https://vercel.com" },
  { name: "TypeScript", url: "https://www.typescriptlang.org/" },
]

const Languages = ["JavaScript", "TypeScript", "Java", "bash", "C#", "C++", "C"]

const FrontEnd = ["HTML/CSS", "React", "Next", "Vue", "Tailwind"]

const BackEnd = ["Node", "Express", "Trpc", ".NET", "SQL"]

const DevOps = ["AWS", "Docker", "Git"]
---

<Layout
  title="Home"
  pageTitle="Brutal Theme | Home"
  description="Brutal is a minimalistic, neobrutalism theme for Astro."
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="mt-4">
      <div>
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="outfit text-2xl md:text-5xl lg:text-7xl">
              About
              <span class="text-white">Me</span>
            </p>
            <p class="mt-2 outfit text-xl md:text-2xl lg:text-4xl">
              Full Stack developer, passionate about the web, and currently
              learning different DevOps technologies. Also trying to master vim.
            </p>
          </div>
        </Card>
      </div>
      <!-- <div class="col-span-2 ha">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            Brutal is built with
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
            What is Brutal?
          </h2>
          <p class="poppins">
            Brutal is a theme built with Astro, UnoCSS by <a
              href="https://www.elian.codes/">Elian</a
            >. It's a simple, fast, and modern theme that is easy to use and
            customize. Mainly meant to power blogs and personal websites.
          </p>
        </Card>
      </div> -->
    </section>
    <RecentBlogPosts />
    <section id="skills" class="mt-8">
      <Card>
        <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 poppins">
          Technical Skills
        </h2>
        <div class="flex justify-between items-start gap-4">
          <Card>
            <div class="px-4">
              <h1 class="text-lg md:text-3xl lg:text-5xl dm-serif">
                Languages
              </h1>
              <ul class="mt-4 text-md md:text-lg lg:text-3xl">
                {Languages.map((item) => <li class="sanchez">{item}</li>)}
              </ul>
            </div>
          </Card>
          <Card>
            <div class="px-4">
              <h1 class="text-lg md:text-3xl lg:text-5xl dm-serif">
                Front End
              </h1>
              <ul class="mt-4 text-md md:text-lg lg:text-3xl">
                {FrontEnd.map((item) => <li class="sanchez">{item}</li>)}
              </ul>
            </div>
          </Card>
          <Card>
            <div class="px-4">
              <h1 class="text-lg md:text-3xl lg:text-5xl dm-serif">Back End</h1>
              <ul class="mt-4 text-md md:text-lg lg:text-3xl">
                {BackEnd.map((item) => <li class="sanchez">{item}</li>)}
              </ul>
            </div>
          </Card>
          <Card>
            <div class="px-4">
              <h1 class="text-lg md:text-3xl lg:text-5xl dm-serif">DevOps</h1>
              <ul class="mt-4 text-md md:text-lg lg:text-3xl">
                {DevOps.map((item) => <li class="sanchez">{item}</li>)}
              </ul>
            </div>
          </Card>
        </div>
      </Card>
    </section>
  </main>
</Layout>
